<div class="dashboard">
	<div id="aside">
		<ul class="list">
			<li>
				<img class="ensa" src="/image/ensa-khouribga-1.PNG"></img>
			</li>
			<li>Attestation</li>
			<li>liste de stage</li>
			<li>note</li>
		</ul>
	</div>
	<div class="droite">
		<span onclick="history.back()" class="close" title="Close Modal">&times;</span>
		<center>
			<h2>Bienvenue</h2>
			<p>
			<h3> Merci de nous avoir rejoindre!</h3>
			</p>
		</center>
	</div>

	</p>
</div>