<div class="dashboard">
	<div id="aside">
		<ul class="list">
			<li>
				<img class="ensa" src="/image/ensa-khouribga-1.PNG"></img>
			</li>
			<li href="demande.html">demande de stage</li>
			<li href="liste.html">liste de stage</li>
			<li href="rapport.html">rapport</li>
			<li href="note.html">note</li>
		</ul>
	</div>
	<div class="droite">
		<span onclick="history.back()" class="close" title="Close Modal">&times;</span>
		<center>
			<h2>Bienvenue</h2>
			<p>
			<h3> de nous avoir rejoindre!</h3>
			</p>
		</center>
	</div>

	</p>
</div>